<div class="container">
    <div class="flag-title">
        <h2>Choose your language:</h2>
    </div>
    <div class="flag-container">
        <div class="flag-wrapper">
            <a [routerLink]="['/card']"><img class="flag" src="assets/flags/en.svg" alt="English" /></a>
        </div>

        <div class="flag-wrapper">
            <a [routerLink]="['/card']"><img class="flag" src="assets/flags/de.svg" alt="German" /></a>
        </div>

        <div class="flag-wrapper">
            <a [routerLink]="['/card']"><img class="flag" src="assets/flags/fr.svg" alt="France" /></a>
        </div>
    </div>
</div>