.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    .card {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .icon {
        height: 100%;
        img {
            width: 100px;
        }
    }

    .animation {
        animation: mover 0.5s infinite alternate;
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px);
        }
    }

    .description {
        height: 100%;
    }
}
