.front {
    border-radius: 35px;
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .header {
        display: flex;
        justify-content: flex-start;
        text-transform: capitalize;
        font-weight: lighter;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        font-weight: bold;
        line-height: 1.6;
        font-size: 1.2rem;
        padding: 0px 10px;
        height: 50%;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        img {
            width: 30px;
            height: 30px;
        }
    }
}

.kreative {
    background-color: #e57246;
    height: 100%;
    color: white;
}

.fun {
    background-color: #5ba979;
    height: 100%;
    color: white;
}

.business {
    background-color: #10517f;
    height: 100%;
    color: white;
}

.work {
    background-color: #a42346;
    height: 100%;
    color: white;
}
